 
p {
    margin-top: 0;
    margin-bottom: 0;
}

/*tiago*/
nav {
    margin-top: 165px;
    width: 1200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    width: 131.25px;
    border-right: 1px solid rgb(87, 86, 86);
    font-size: 14px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.apple {
    font-size: 22px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.searchBar {
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center; 
     align-items: flex-end; 
}

.searchBar input {
    width: 100px;
    height: 24pX;
    padding: 0;
     border: 0;
    /* background-color: gray; */
    color: white;
    outline: none; 
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(207, 205, 205, 0.199);
    
}

.searchBar a {
    background-color: black;
   
    
}

#lupa {
    border-right: 0;
    padding: 7px;
    font-size: 10px;
    height: 24px;
    width: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: none;
    background-color: rgba(207, 205, 205, 0.199);
} 

header{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



/*GRACE*/

 .wrapper{
    background-image:url("https://archive.fo/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg");
    background-size: cover;
    background-position: left bottom;
    height: 600px;
    border: 1px solid black;
}
 footer {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    border: 1px solid black;
    font-size: 14px;
    margin-top: 50px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 600px;
}

.footer-left p,
.footer-right p {
    padding-top: 20px;
}

.footer-right {
    border: 1px solid blue;
    width: 600px;
    display: flex;
   justify-content: space-around;
   
} 

.footer-right  p a {
    
    color: #0088CC;
     
}

.footer-right1 {
    border-right: 1px solid #6E6E6E; 
    padding-right: 6px; 
}

.lastone {
    border-left: 1px solid #6E6E6E;
    padding-left: 6px;
    
}

.footer-left p a {
    color: #0088CC;
}

.fa-flag-usa {
margin-top: 21px;
padding-right: 60px;
} 