
p {
    margin-top: 0;
    margin-bottom: 0;
}

/*tiago*/
/* .main-image {
    width: 100%;
    height: 800px;
    background-image: url(https://archive.fo/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg);
    background-size: cover;
    background-size: 100% 800px;
    background-repeat: no-repeat;
    background-position: top -1000px

}

.main-container {
    border: 1px solid black;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

nav {
    width: 1100px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    height: 30px;
}

nav a {

    width: 100px;
    border-right: black 1px solid;
}



header {
    border: 1px solid black;
} */

















/*GRACE*/
footer {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    border: 1px solid black;
    font-size: 14px;
    margin-top: 50px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 600px;
}

.footer-left p,
.footer-right p {
    padding-top: 20px;
}

.footer-right {
    border: 1px solid blue;
    width: 600px;
    display: flex;
   justify-content: space-around;
   
}

.footer-right  p a {
    /* justify-content: space-between; */
    color: #0088CC;
     
}

.footer-right1 {
    border-right: 1px solid #6E6E6E; 
    padding-right: 6px; 
}

.lastone {
    border-left: 1px solid #6E6E6E;
    padding-left: 6px;
    
}

.footer-left p a {
    color: #0088CC;
}

.fa-flag-usa {
margin-top: 21px;
padding-right: 60px;
}